$gicon-notdef: "\e900";
$gicon-exclam: "\22";
$gicon-quotedbl: "\23";
$gicon-numbersign: "\24";
$gicon-dollar: "\25";
$gicon-percent: "\26";
$gicon-ampersand: "\27";
$gicon-quotesingle: "\28";
$gicon-parenleft: "\29";
$gicon-parenright: "\2a";
$gicon-asterisk: "\2b";
$gicon-plus: "\2c";
$gicon-comma: "\2d";
$gicon-hyphen: "\2e";
$gicon-hyphen2: "\2010";
$gicon-period: "\2f";
$gicon-slash: "\30";
$gicon-zero: "\31";
$gicon-one: "\35";
$gicon-two: "\37";
$gicon-three: "\38";
$gicon-four: "\39";
$gicon-five: "\3a";
$gicon-six: "\3b";
$gicon-seven: "\3c";
$gicon-eight: "\3d";
$gicon-nine: "\3e";
$gicon-colon: "\3f";
$gicon-semicolon: "\40";
$gicon-less: "\47";
$gicon-equal: "\49";
$gicon-greater: "\4b";
$gicon-at: "\4e";
$gicon-A: "\4f";
$gicon-B: "\50";
$gicon-C: "\51";
$gicon-D: "\53";
$gicon-E: "\55";
$gicon-F: "\58";
$gicon-G: "\59";
$gicon-H: "\5e";
$gicon-I: "\5f";
$gicon-J: "\60";
$gicon-K: "\85";
$gicon-L: "\86";
$gicon-M: "\87";
$gicon-N: "\88";
$gicon-O: "\89";
$gicon-P: "\8a";
$gicon-Q: "\8b";
$gicon-R: "\8c";
$gicon-S: "\8d";
$gicon-T: "\8e";
$gicon-U: "\8f";
$gicon-V: "\90";
$gicon-W: "\91";
$gicon-X: "\92";
$gicon-Y: "\93";
$gicon-Z: "\94";
$gicon-bracketleft: "\95";
$gicon-bracketright: "\96";
$gicon-asciicircum: "\97";
$gicon-a: "\98";
$gicon-b: "\99";
$gicon-c: "\9a";
$gicon-d: "\9b";
$gicon-e: "\9c";
$gicon-f: "\9d";
$gicon-g: "\9e";
$gicon-h: "\9f";
$gicon-i: "\a0";
$gicon-j: "\a1";
$gicon-k: "\a2";
$gicon-l: "\a3";
$gicon-m: "\a4";
$gicon-n: "\a5";
$gicon-o: "\a6";
$gicon-p: "\a7";
$gicon-q: "\a8";
$gicon-r: "\a9";
$gicon-s: "\aa";
$gicon-t: "\ab";
$gicon-u: "\ac";
$gicon-v: "\ad";
$gicon-w: "\ae";
$gicon-x: "\af";
$gicon-y: "\b0";
$gicon-z: "\b1";
$gicon-calango: "\e901";
$gicon-exclam2: "\b2";
$gicon-quotedbl2: "\b3";
$gicon-numbersign2: "\b4";
$gicon-dollar2: "\b5";
$gicon-percent2: "\b6";
$gicon-ampersand2: "\b7";
$gicon-quotesingle2: "\b8";
$gicon-parenleft2: "\b9";
$gicon-parenright2: "\ba";
$gicon-asterisk2: "\bb";
$gicon-plus2: "\bc";
$gicon-comma2: "\bd";
$gicon-hyphen3: "\be";
$gicon-hyphen4: "\bf";
$gicon-period2: "\c0";
$gicon-slash2: "\c1";
$gicon-zero2: "\c2";
$gicon-one2: "\c3";
$gicon-two2: "\c5";
$gicon-three2: "\c6";
$gicon-four2: "\c7";
$gicon-five2: "\c8";
$gicon-six2: "\c9";
$gicon-seven2: "\ca";
$gicon-eight2: "\cb";
$gicon-nine2: "\cc";
$gicon-colon2: "\cd";
$gicon-semicolon2: "\ce";
$gicon-semicolon3: "\37e";
$gicon-less2: "\cf";
$gicon-equal2: "\d0";
$gicon-greater2: "\d1";
$gicon-question: "\d2";
$gicon-at2: "\d3";
$gicon-A2: "\d4";
$gicon-B2: "\d5";
$gicon-C2: "\d6";
$gicon-D2: "\d7";
$gicon-E2: "\d8";
$gicon-F2: "\d9";
$gicon-G2: "\da";
$gicon-H2: "\db";
$gicon-I2: "\dc";
$gicon-J2: "\dd";
$gicon-K2: "\de";
$gicon-L2: "\df";
$gicon-M2: "\e0";
$gicon-N2: "\e1";
$gicon-O2: "\e2";
$gicon-P2: "\e3";
$gicon-Q2: "\e4";
$gicon-R2: "\e5";
$gicon-S2: "\e6";
$gicon-T2: "\e7";
$gicon-U2: "\e8";
$gicon-V2: "\e9";
$gicon-W2: "\ea";
$gicon-X2: "\eb";
$gicon-Y2: "\ec";
$gicon-Z2: "\ed";
$gicon-bracketleft2: "\ee";
$gicon-a2: "\ef";
$gicon-b2: "\f0";
$gicon-c2: "\f1";
$gicon-d2: "\f2";
$gicon-e2: "\f3";
$gicon-f2: "\f4";
$gicon-g2: "\f5";
$gicon-h2: "\f6";
$gicon-i2: "\f7";
$gicon-j2: "\f8";
$gicon-k2: "\f9";
$gicon-l2: "\fa";
$gicon-m2: "\fb";
$gicon-n2: "\fd";
$gicon-o2: "\fe";
$gicon-p2: "\ff";
$gicon-q2: "\100";
$gicon-r2: "\101";
$gicon-s2: "\102";
$gicon-t2: "\103";
$gicon-u2: "\104";
$gicon-v2: "\105";
$gicon-w2: "\106";
$gicon-x2: "\107";
$gicon-y2: "\108";
$gicon-z2: "\109";
$gicon-uniF041: "\f041";
$gicon-uniF042: "\f042";
$gicon-uniF043: "\f043";
$gicon-uniF044: "\f044";
$gicon-uniF046: "\f046";
$gicon-uniF049: "\f049";
$gicon-uniF04A: "\f04a";
$gicon-uniF04D: "\f04d";
$gicon-uniF04E: "\f04e";
$gicon-uniF04F: "\f04f";
$gicon-uniF050: "\f050";
$gicon-uniF051: "\f051";
$gicon-uniF052: "\f052";
$gicon-uniF053: "\f053";
$gicon-uniF054: "\f054";
$gicon-uniF055: "\f055";
$gicon-uniF056: "\f056";
$gicon-uniF05A: "\f05a";
$gicon-uni41: "\41";
$gicon-uni42: "\42";
$gicon-uni43: "\43";
$gicon-uni48: "\48";
$gicon-uni4C: "\4c";
$gicon-uni52: "\52";
$gicon-uni54: "\54";
$gicon-uni56: "\56";
$gicon-uni5A: "\5a";
$gicon-uni61: "\61";
$gicon-uni62: "\62";
$gicon-uni63: "\63";
$gicon-uni64: "\64";
$gicon-uni65: "\65";
$gicon-uni66: "\66";
$gicon-uni67: "\67";
$gicon-uni68: "\68";
$gicon-uni69: "\69";
$gicon-uni6A: "\6a";
$gicon-uni6B: "\6b";
$gicon-uni6C: "\6c";
$gicon-uni6D: "\6d";
$gicon-uni6E: "\6e";
$gicon-uni6F: "\6f";
$gicon-uni70: "\70";
$gicon-uni71: "\71";
$gicon-uni72: "\72";
$gicon-uni73: "\73";
$gicon-uni74: "\74";
$gicon-uni75: "\75";
$gicon-uni76: "\76";
$gicon-uni77: "\77";
$gicon-uni78: "\78";
$gicon-uni79: "\79";
$gicon-uni7A: "\7a";
$gicon-uni25FC: "\25fc";
$gicon-uni10A: "\10a";
$gicon-uni10B: "\10b";
$gicon-uni10C: "\10c";
$gicon-uni10D: "\10d";
$gicon-uni10E: "\10e";
$gicon-uni33: "\33";
$gicon-uni10F: "\10f";
$gicon-uni5B: "\5b";
$gicon-uni7B: "\7b";
$gicon-uni7C: "\7c";
$gicon-uni110: "\110";
$gicon-uni7E: "\7e";
$gicon-uni2011: "\2011";
$gicon-uni2014: "\2014";
$gicon-uni21: "\21";
$gicon-uni111: "\111";
$gicon-uni112: "\112";
$gicon-uni113: "\113";
$gicon-uni114: "\114";
$gicon-uni115: "\115";
$gicon-uni116: "\116";
$gicon-uni117: "\117";
$gicon-uni118: "\118";
$gicon-uni119: "\119";
$gicon-uni11A: "\11a";
$gicon-uni11B: "\11b";
$gicon-uni11C: "\11c";
$gicon-uni11D: "\11d";
$gicon-uni11E: "\11e";
$gicon-uni11F: "\11f";
$gicon-uni120: "\120";
$gicon-uni32: "\32";
$gicon-uni121: "\121";
$gicon-uni34: "\34";
$gicon-uni122: "\122";
$gicon-uni36: "\36";
$gicon-uni123: "\123";
$gicon-uni124: "\124";
$gicon-uni125: "\125";
$gicon-uni126: "\126";
$gicon-uni127: "\127";
$gicon-uni128: "\128";
$gicon-uni129: "\129";
$gicon-uni12A: "\12a";
$gicon-uni12B: "\12b";
$gicon-uni12C: "\12c";
$gicon-uni12D: "\12d";
$gicon-uni44: "\44";
$gicon-uni12E: "\12e";
$gicon-uni45: "\45";
$gicon-uni12F: "\12f";
$gicon-uni46: "\46";
$gicon-uni130: "\130";
$gicon-uni131: "\131";
$gicon-uni132: "\132";
$gicon-uni4A: "\4a";
$gicon-uni133: "\133";
$gicon-uni4D: "\4d";
$gicon-uni134: "\134";
$gicon-uni135: "\135";
$gicon-uni136: "\136";
$gicon-uni137: "\137";
$gicon-uni138: "\138";
$gicon-uni139: "\139";
$gicon-uni13A: "\13a";
$gicon-uni13B: "\13b";
$gicon-uni13C: "\13c";
$gicon-uni57: "\57";
$gicon-uni13D: "\13d";
$gicon-uni13E: "\13e";
$gicon-uni13F: "\13f";
$gicon-uni5C: "\5c";
$gicon-uni140: "\140";
$gicon-uni141: "\141";
$gicon-uni5D: "\5d";
$gicon-uni142: "\142";
$gicon-uni143: "\143";
$gicon-uni144: "\144";
$gicon-uni145: "\145";
$gicon-uni146: "\146";
$gicon-uni147: "\147";
$gicon-uni7D: "\7d";
$gicon-uni148: "\148";
$gicon-uni149: "\149";
$gicon-uni14A: "\14a";
$gicon-uni7F: "\7f";
$gicon-uni80: "\80";
$gicon-uni81: "\81";
$gicon-uni14B: "\14b";
$gicon-uni82: "\82";
$gicon-uni14C: "\14c";
$gicon-uni14D: "\14d";
$gicon-uni14E: "\14e";
$gicon-uni14F: "\14f";
$gicon-uni150: "\150";
$gicon-uni83: "\83";
$gicon-uni151: "\151";
$gicon-uni152: "\152";
$gicon-uni153: "\153";
$gicon-uni154: "\154";
$gicon-uni155: "\155";
$gicon-uni156: "\156";
$gicon-uni157: "\157";
$gicon-uni158: "\158";
$gicon-uni159: "\159";
$gicon-uni84: "\84";
$gicon-uni15A: "\15a";
$gicon-uni15B: "\15b";
$gicon-uni15C: "\15c";
$gicon-uni15D: "\15d";
$gicon-uniC4: "\c4";
$gicon-uni15E: "\15e";
$gicon-uni15F: "\15f";
$gicon-uni160: "\160";
$gicon-uni161: "\161";
$gicon-uni162: "\162";
$gicon-uni163: "\163";
$gicon-uni164: "\164";
$gicon-uniFC: "\fc";
$gicon-uni2012: "\2012";
$gicon-uni2013: "\2013";
$gicon-uni2015: "\2015";
$gicon-uni2016: "\2016";
$gicon-uni2017: "\2017";
