.single-obs {

  #map {
    height:250px;
    width: 100%;
    border-bottom: 3px solid $brand-secondary;
  }

  .gallery {
      
    direction: ltr;
    text-align: left;
    width: 100%;

    opacity:0;
    max-height: 370px;
    overflow: visible;

    .main-gallery, .nav-gallery {
      margin-bottom: 11px;
      
      .slide {
          outline: none;
          img {
            margin: auto;
          }
      }
    }
    .main-gallery { 
         
      .slide {

        img {
          width: 100%;
          box-shadow: none;
          border: 3px solid $brand-secondary;
        }

        p {
          padding-right:3px;
          text-align: right;
          direction: rtl;
          font-size:12px;
        }
      }
    }

    .nav-gallery {
      .slide {
        width: 77px !important;
        margin: 5px;
        position: relative;


        img {
          border: 1px solid #495763;
          box-shadow: 1px 1px 1px #000;
        }
        &.slick-current {

          cursor: initial;

          img {
            box-shadow: 1px 1px 2px $brand-primary;
          }
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 3px solid $brand-primary;
          }
        }
      }
    }

    &.ready {
      opacity: 1;
      max-height: none;
    }
  }

  .content {

    .page-header {
      border-bottom: 2px solid $brand-secondary;
      
      img {

        float: right;
        margin-left: 10px;
        width: 100px;
        height: 100px;
      }
      
      .media-heading {
        margin-bottom: 10px;
        line-height: 25px;

        .edit-btn {

        }
      }

      .latin {
        font-size: 18px;
      }

      p {
        margin-bottom: 2px;

        &.user {
          item-grade {
            margin-right: 10px;
          }
        }

        &.projects {
          a {
            margin-left: 10px;
            display: inline-block;

            &[cc-wiki-link] {
              margin: -10px 0 0 0;
            }
          }
        }
      }
    }

    .fileds {
      .filed {
        padding-left: 5px;
        &:after {
          content: ',';
        }
        &:last-child:after {
          content: ".";
        }
      }
    }

    .nav.nav-tabs {

    }


    .sidebar {

      .panel.grade {
        .panel-heading {
          padding-bottom: 0;
          //background: #fff;
          label {
            font-weight:normal;
          }
        }

        .panel-body {
          //background: $brand-primary;
          color: #ffffff;
          border-bottom-right-radius: 6px;
          border-bottom-left-radius: 6px;
          padding:5px 15px;

        }
      }

      .similar { 
        a{
          margin: 3px;
          display: inline-block;
          position: relative;

          &:hover {
            text-decoration: none;
            &:before {
              opacity: 1;
            }
          }

          &:before {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border: 3px solid $brand-primary;
            opacity: 0;
            transition: opacity .5s ease;
          }
        }
      }
    }
  }
}

.img-modal {
  text-align: center;
  .modal-dialog {
    width: auto;
    display: inline-block;
    margin: auto;

    .modal-content {
      background: #ffffff;
      padding:30px;
      box-shadow: none;
      border: none;
      text-align: center;
      border-radius:0;

      img {
        border: 3px solid #ffffff;
        border-radius: 6px;
      }

      .close {
        position: absolute;
        top: 10px;
        right: 10px;
        color: black;
        opacity: 1;
        font-size: 20px;
      }

      p {
        font-size: 20px;

        &.license {
          font-size:14px;
          padding-right: 3px;
        }
      }
    }
  }

  &.in {
    .modal-dialog {
      transform: translate(0px, 40px);
    }
  }
}