<div class="single-obs container-fluid relative">

    <!--MAP-->
    <div class="row">
        <cc-map items="item" options="mapOptions"></cc-map>
    </div>
    <!--/MAP-->

    <!--CONTENT-->
    <div class="container content">
        <div class="row">

            <div class="col-md-8">

                <!--HEADER-->
                <div class="page-header">
                    <div class="media">
                        <div class="media-left">
                            <img ng-src="{{item.taxon.taxon_photos[0].photo.square_url}}" ng-if="item.taxon.taxon_photos">
                        </div>
                        <div class="media-body" ng-if="item">
                            <h1 class="media-heading">
                                <span>תצפית: </span> {{item.ccInfo.name}}
                                <delete-ob ng-if="item.id" item="item" class="pull-left margin-right-5"></delete-ob>
                                <edit-ob ng-if="item.id" item="item" class="pull-left"></edit-ob>
                            </h1>
                            <p class="latin text-muted" ng-show="item.taxon.name">{{item.taxon.name}}</p>
                            <p class="user">
                                <span>נוצר על ידי</span> <a ui-sref="user.obs({slug: item.user_login})" class="inline">{{item.ccInfo.user.name}}</a>,
                                <span>בתאריך: </span>{{item.observed_on | date : 'dd/MM/yyyy' }}
                                <span class="label label-warning" ng-if="item.coordinates_obscured" title='מיקום תצפית זו מוסתר ברדיוס של 10 ק"מ'>מיקום חסוי</span>
                            </p>
                            <p class="projects">
                                <span>פרוייקטים: </span>
                                <a class="label label-success" ng-repeat="p in item.project_observations" ui-sref='projects.single({slug: p.project.id})'>
                                    {{p.project.title}}
                                </a>
                                <a cc-wiki-Link="item" href="https://he.wikipedia.org" target="_blank" class="btn btn-primary btn-sm pull-left text-white mt5"">ויקיפדיה</a>
                            </p>

                        </div>
                    </div>
                </div>
                <!--HEADER-->

                <!--MAIN-->
                <div class="main">
                    <p class="mb20 pre-wrap">{{item.description}}</p>
                    <div class="fileds mb20">
                        <span ng-repeat="filed in item.observation_field_values | filter: filterFileds" class="filed">{{filed.observation_field.name}}: {{filed.value}}</span>
                    </div>
                    <div>
                        <comments ng-if="item.ccInfo.discussion" comments="item.ccInfo.discussion"></comments>

                        <ob-add-comment ng-if="item.id" parent="{{item.id}}"></ob-add-comment>

                    </div>
                </div>
                <!--/MAIN-->

            </div>

            <!--SIDEBAR-->
            <div class="col-md-4 sidebar mt40">
                <!--GALLERY-->
                <div class='relative'>
                    <div class="gallery" ng-if="item.observation_photos[0]" ng-class="{ready: slideReady}">
                        <div class="main-gallery">
                            <div class="slide pointer" ng-repeat="img in item.observation_photos" ng-click="showLargeImage($index)">
                                <img ng-src='{{img.photo.medium_url}}' imageonload="imgLoad()">
                                <p class="text-muted">
                                    <span class="inline ">רישיון תמונה:</span>
                                    <span class="inline">{{img.photo.license_code}}</span>
                                </p>
                            </div>
                        </div>

                        <div class="nav-gallery" ng-if="item.observation_photos[0] && item.observation_photos.length > 1">
                            <div class="slide pointer" ng-repeat="img in item.observation_photos">
                                <img ng-src="{{img.photo.square_url}}" imageonload="imgLoad()">
                            </div>
                        </div>
                    </div>
                </div>
                <!--/GALLERY-->
                <div class="panel panel-primary grade" ng-if="item">
                    <div class="panel-heading">
                        <span>זיהוי: </span>
                        <label item-grade data="item"></label>
                    </div>
                    <div class="panel-body">
                        <item-grade data="item" horizonal="true"></item-grade>
                    </div>
                </div>


                <div class="panel panel-primary similar">
                    <div class="panel-heading">תצפיות דומות</div>
                    <div class="panel-body">
                        <a ng-repeat="sim in similars | limitTo:4" ui-sref="obs.single({id: sim.id})">
                            <img actual-src="{{sim.photos[0].square_url}}" ng-src='assets/images/item-holder.png' width="75" height="75">
                        </a>

                        <p ng-show="!similars.length && !loading">
                            <strong>לא נמצאו תצפיות דומות</strong>
                        </p>

                        <p ng-show="loading">
                            <strong>טוען תצפיות דומות</strong>
                        </p>
                    </div>
                </div>
            </div>
            <!--/SIDEBAR-->
        </div>
    </div>
    <!--/CONTENT-->
</div>