.single-user {
  .page-header {
    .media {

      .media-left {
        padding-left: 30px;
        img {
          width:110px;
        }
      }

      .media-right {
        white-space: nowrap;
        .panels {
          .panel {

            display: inline-block;
            margin-right: 10px;
            border: 1px solid rgba(73, 87, 99, 0.52);
            overflow: hidden;
            margin-bottom: 0;

            .panel-heading {
              padding: 5px 15px;
              //background: $brand-success;
              background: #ffffff;
              //color: #ffffff;
            }

            .panel-body {
              padding:5px;
              font-weight: bold;
              //background: $brand-secondary;
              background: $brand-primary;
              color: #ffffff;
              font-size: 20px;

            }

            &.curator {
              .panel-body {
                background: $brand-success;
              }
            }
          }
        }
      }

      .media-body {
        h1 {
          margin-top: 0;
          margin-bottom: 0;
        }

        .join-date {
          margin-bottom: 0;
        }

        .nav.nav-pills {
          margin-top: 5px;
          margin-bottom: 5px;
          li {
            a {
              padding: 3px 7px;
              font-size: 13px;
            }

            &.active {
              a {
                background-color: $brand-primary;
              }
            }
          }
        }

        .projects {
          a {
            margin-left: 10px;
            display: inline-block;
          }
        }
      }
    }
  }
  
  &.logged-in {
    .page-header {
      .media {
        .media-body {
          h1, p {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}