<div class="single-user container" ng-class="{'logged-in' : showUserMenu}">
    <div class="page-header">
        <div class="media">
            <div class="media-left">
                <img actual-src="{{user.medium_user_icon_url}}" ng-src='assets/images/person.png' alt="">
            </div>
            <div class="media-body">
                <div class="info pull-right">
                    <h1>
                        <span>משתמש:</span>
                        <span>{{user.name.length ? user.name : user.login}}</span>
                    </h1>

                    <p class="join-date"><span>תאריך הצטרפות:</span> {{user.created_at | date : 'dd/MM/yyyy'}}</p>

                    <ul class="nav nav-pills" ng-if="showUserMenu">
                        <li role="presentation" ui-sref-active="active"><a ui-sref="user.obs()">תצפיות</a></li>
                        <li role="presentation" ui-sref-active="active"><a ui-sref="user.projects()">פרויקטים</a></li>
                        <li role="presentation" ui-sref-active="active"><a ui-sref="user.profile()">עריכת פרופיל</a></li>
                        <li role="presentation" ui-sref-active="active"><a ui-sref="user.password()">איפוס סיסמא</a></li>
                    </ul>

                    <p class="projects" ng-if="userProjects && !showUserMenu">
                        <span>פרוייקטים: </span>
                        <a class="label label-success" ng-repeat="p in userProjects" ui-sref='projects.single({slug: p.project_id})'>
                            {{p.project.title}}
                        </a>
                    </p>

                </div>
            </div>
            <div class="media-right">
                <div class="panels tac">

                    <div class="panel panel-default">
                        <div class="panel-heading">תצפיות</div>
                        <div class="panel-body">
                            {{user.observations_count | number}}
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">זיהויים</div>
                        <div class="panel-body">
                            {{user.identifications_count | number}}
                        </div>
                    </div>

                    <div class="panel panel-default curator" ng-show="user.ccInfo.curator">
                        <div class="panel-heading">תפקיד</div>
                        <div class="panel-body">
                            <span>אוצר</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="content">

        <div class="main">

            <div ui-view=""></div>

        </div>
    </div>

</div>