<div class="uib-dropdown-menu main-drop">
    <div class="holder">
        <form class="form-horizontal">

            <div class="form-group">
                <label>טקסט חופשי</label>
                <input type="text" class="form-control" ng-model="searchQuery" cc-enter="changeFilter()">
            </div>

            <div class="form-group users">
                <label>שם מתצפת</label>
                <users-compleate model="advSearch.user" control="golbalObject"></users-compleate>
            </div>

            <div class="form-group">
                <label>פרוייקט</label>
                <select ng-model="selectedProject" class="form-control" ng-options="project.title for project in projects | orderBy:projOrder"></select>
            </div>

            <div class="form-group relative species">
                <label>שם הזן
                    <span ng-show="loadingTaxas"><i class="fa fa-spinner fa-spin"></i></span>
                </label>
                <div ng-show="noTaxasResults" class="pull-left">אין תוצאות</div>
                <input type="text"
                       ng-model="taxaSearchTypeHead"
                       typeahead-editable="false"
                       uib-typeahead="taxa for taxas in getTaxa($viewValue)"
                       typeahead-loading="loadingTaxas"
                       typeahead-no-results="noTaxasResults"
                       typeahead-template-url="customTaxaTemplateHome.html"
                       typeahead-min-length="2"
                       typeahead-on-select="setTaxaTypeHead($item)"
                       class="form-control">
            </div>

            <div class="form-group dates">
                <label>
                    <input type="checkbox" ng-model="advSearch.dateRange"> טווח תאריכים
                </label>
                <div class="dates-dropdown" ng-show="advSearch.dateRange">
                    <div class="dropdown">
                        <span>תצפיות מ</span>
                        <button
                                uib-datepicker-popup
                                class="btn btn-primary btn-xs"
                                ng-class="{active: advSearch.showStart}"
                                ng-click="toggleDates('showStart')"
                                is-open="advSearch.showStart"
                                ng-model="advSearch.startDate"
                                show-weeks="false"
                                current-text="היום"
                                close-text="סגור"
                                clear-text="נקה"
                        >
                            {{advSearch.startDate | date : 'mediumDate'}}
                            <span ng-show="!advSearch.startDate">ריק</span>
                        </button>
                        <span>עד</span>
                        <button
                                uib-datepicker-popup
                                class="btn btn-primary btn-xs"
                                ng-class="{active: advSearch.showEnd}"
                                ng-click="toggleDates('showEnd')"
                                is-open="advSearch.showEnd"
                                ng-model="advSearch.endDate"
                                show-weeks="false"
                                current-text="היום"
                                close-text="סגור"
                                clear-text="נקה"                          >
                            {{advSearch.endDate | date : 'mediumDate'}}
                            <span ng-show="!advSearch.endDate">ריק</span>
                        </button>
                    </div>
                </div>

            </div>

            <div class="row actions">
                <hr>
                <button class="btn btn-default pull-right" ng-click="closeAdv()">סגור</button>

                <button type="button" class="btn btn-primary pull-left" ng-model="advSearch.active" ng-click="changeFilter()" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
                    <span>חפש</span>
                </button>

                <button class="btn btn-default pull-left clean" ng-click="clearAdv()">נקה</button>
            </div>

            <!--<pre style="direction: ltr; text-align: left;">{{advSearch | json}}</pre>-->

        </form>
    </div>
</div>