<header ng-controller="headerCtrl">
  <nav class="navbar navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">

        <a class="navbar-brand" ui-sref="home">
          <img ng-src="assets/images/sideLogo.png" alt="">
        </a>

      </div>
        <a href="http://www.golan.org.il/" target="_blank" class="navbar-brand regional pull-left">
          <img ng-src="assets/images/golanlogo.png" alt="">
        </a> 
      <div class="collapse navbar-collapse tac">
        <ul class="nav navbar-nav">
          <li ui-sref-active="active"><a ui-sref="home({search: null})" ui-sref-opts="{reload : true}">ראשי</a></li>
          <li ui-sref-active="active"><a ui-sref="about">עידכונים</a></li>
          <li role="presentation" uib-dropdown>
            <a href uib-dropdown-toggle>
              <span>פרויקטים</span>
              <span class="caret"></span>
            </a>
            <ul uib-dropdown-menu>
              <li ng-repeat="project in projects | orderBy: projOrder" ng-if="project.slug && project.menu_flag === '1'">
                <a ui-sref="projects.single({slug: project.slug})">{{project.title}}</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a ui-sref="projects.list">כל הפרויקטים</a>
              </li>
            </ul>
          </li>
          <li ui-sref-active="active"><a ui-sref="activity">פעילות</a></li>
          <li ui-sref-active="active"><a ui-sref="info">מידע נוסף</a></li>
          <li ui-sref-active="active"><a ui-sref="contact">צור קשר</a></li>

        </ul>
      </div>
    </div>
  </nav>

  <div class="crumb">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 free-search" ng-class="{open : advOpen}">
          <div class="input-group input-group-sm">

            <input type="text" class="form-control" placeholder="חיפוש תצפיות..." ng-model="searchQuery" cc-enter="changeFilter()" ng-disabled="advOpen">
            <i class="fa fa-times remove-search" ng-show="searchQuery.length" ng-click="clearSearch()"></i>

            <span class="input-group-btn search">
              <button class="btn btn-default" type="button" ng-click="changeFilter()">חפש</button>
            </span>

            <span class="input-group-btn adv-search" uib-dropdown auto-close="disabled" is-open="advOpen"  >
              <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle title="חיפוש מתקדם" ng-class="{'btn-primary' : advSearch.active}">
                <span class="fa fa-search-plus"></span>
              </button>


                <div ng-include="'app/components/header/adv-search.html'"></div>
            </span>

         </div>

        </div>

        <div class="col-md-2 projects" ng-show="showFilters">
          <div class="input-group input-group-sm">
            <select ng-change="changeFilter()" ng-model="selectedProject" class="form-control" ng-options="project.title for project in projects | orderBy:projOrder">
              <option value="">תצפיות מכל הפרויקטים</option>
            </select>
          </div>
        </div>
          
        <div class="col-md-4 col-md-push-1 filters" ng-if="showFilters">
            <i ng-repeat="animal in filterAnimals"
               title="{{animal.title}}"
               class="{{animal.class}} {{animal.name}}"
               ng-class="{active: animal.id === activeAnimal.id}" ng-click="filterAnimal(animal)"></i>
        </div>

        <div class="user-actions pull-left tal">

          <div class="btn-group join" role="group" uib-dropdown  is-open="userLoginData.isopen" auto-close="outsideClick">
            <button ui-sref="join" class="btn btn-primary" ng-if="!loggedIn">הצטרפו עכשיו</button>
            <button ui-sref="obs.add" class="btn btn-success" ng-if="loggedIn">הוספת תצפית</button>
            <!--<button ui-sref="user.obs({slug : userInfo.login})" class="btn btn-success" ng-if="loggedIn">{{userInfo.name}}</button>-->

            <button type="button" class="btn user" ng-class="{'btn-primary' : !loggedIn, 'btn-success' : loggedIn}" uib-dropdown-toggle ng-attr-title="{{loggedIn ? 'החשבון שלך' : 'כניסה למערכת'}}">
              <span ng-hide="userInfo.user_icon_url && loggedIn" class="fa fa-user"></span>
              <span ng-if="loggedIn" class="user-icon">
                <img ng-src="{{userInfo.user_icon_url}}" alt="">
              </span>
            </button>
              <div uib-dropdown-menu class="dropdown-menu-left">
                <div class="holder">
                  <form class="form-horizontal" novalidate name="loginForm" ng-show="!loggedIn">

                    <div class="form-group form-group-sm" ng-class="{ 'has-error': loginForm.user.$invalid && loginForm.user.$dirty }">
                      <label class="control-label">שם משתמש</label>
                      <input type="text" class="form-control" ng-model="userLoginData.user" name="user" required>
                      <label class="help-block" ng-show="loginForm.user.$invalid && loginForm.user.$dirty">חובה להזין שם משתמש</label>
                    </div>

                    <div class="form-group form-group-sm" ng-class="{ 'has-error': loginForm.password.$invalid && loginForm.password.$dirty }">
                      <label class="control-label">סיסמא</label>
                      <input type="password" class="form-control" ng-model="userLoginData.password" name="password" required>
                      <label class="help-block" ng-show="loginForm.password.$invalid && loginForm.password.$dirty">חובה להזין סיסמא</label>
                    </div>

                    <div class="form-group form-group-sm has-error" ng-show="userLoginData.error && !loading">
                      <label class="help-block">{{userLoginData.error}}</label>
                    </div>

                    <div class="submit row">
                      <button class="btn btn-sm btn-primary pull-left" type="submit" ng-click="login()">
                        <span>כניסה</span>
                        <span ng-hide="!loading">
                          <span class="fa fa-spinner fa-spin"></span>
                        </span>
                      </button>
                    </div>

                  </form>

                  <div ng-if="loggedIn">
                    <li>
                      <span>היי,</span> {{userInfo.name}}
                    </li>
                    <li role="separator" class="divider"></li>
                    <li class="counter">
                      <small class="pull-right"><span>תצפיות : </span> <span class="badge">{{userInfo.observations_count}}</span></small>
                      <small class="pull-left"><span>זיהויים: </span> <span class="badge">{{userInfo.identifications_count}}</span></small>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li><a ui-sref="user.obs({slug : userInfo.login})">התצפיות שלי</a></li>
                    <li><a ui-sref="user.profile({slug : userInfo.login})">עריכת פרופיל</a></li>
                    <li><a ui-sref="user.projects({slug : userInfo.login})">פרויקטים</a></li>
                    <li><a ui-sref="user.password({slug : userInfo.login})">החלפת סיסמא</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a class="pull-left btn btn-xs btn-primary" ng-click="logout()">התנתק</a></li>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.row -->
    </div>
  </div>
</header>

<script type="text/ng-template" id="customTaxaTemplateHome.html">
  <div class="media pointer">
    <div class="media-left">
      <img class="media-object" ng-src="{{match.model.default_photo['square_url']}}">
    </div>
    <div class="media-body">
      <h5 class="media-heading" ng-bind-html="match.model.matched_term | uibTypeaheadHighlight:query"></h5>
      <div class="latin">
        <small>{{match.model.name}}</small>
      </div>
    </div>
  </div>
</script>