.articles {
  .cats {
    .list-group-item {
      text-align: right;
      outline: none !important;
    }
  }

  .articles {
    .article {
      position: relative;
      padding-bottom: 15px;
      border-bottom: 1px solid rgba(73, 87, 99, 0.34);

      .media-right {
        padding-right: 20px;
        a {
          color: $brand-primary;
        }
      }

      .media-body {
        .media-heading {
        }

        .info {
          &>div {
            display: inline-block;
            &:not(:first-child){
              padding-right:10px;
            }
          }
        }
      }

      &:last-child {
        border-bottom:none;
      }
    }
  }
}