<div class="container articles">
    <div class="main">
        <div class="page-header">
            <h1>מידע נוסף</h1>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3 cats">
                        <div class="list-group">
                            <button type="button" class="list-group-item btn-secondary" disabled>קטגוריות</button>
                            <button type="button" class="list-group-item" ng-repeat="cat in cats" ng-class="{active : activeCat.categories.id === cat.categories.id}" ng-click="setActiveCat($index)">{{cat.categories.name}}</button>
                        </div>
                    </div>
                    <div class="col-md-9 articles">
                        <div >
                            <h4></h4>
                        </div>
                        <ul class="media-list">
                            <li class="media article" ng-repeat="article in items | filter: {'cat_id': activeCat.categories.id}">
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        {{article.subject}}
                                        <small class="text-muted inline"></small>
                                    </h4>
                                    <p>{{article.content}}</p>
                                    <div class="info">
                                        <div ng-if="article.author">
                                            <label>מחבר</label>
                                            <span>{{article.author}}</span>
                                        </div>
                                        <div ng-if="article.published">
                                            <label>תאריך</label>
                                            <span>{{article.published | badDateToISO | date : 'd/MM/yyyy'}}</span>
                                        </div>
                                        <div ng-if="article.published_at">
                                            <label>פורסם ב:</label>
                                            <span>{{article.published_at}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="media-right media-middle">
                                    <a ng-if="article.file" ng-href="{{webRoot}}{{article.file}}" target="_blank" title="קריאת המאמר">
                                        <span class="fa fa-download fa-3x"></span>
                                    </a>
                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">קישורים חשובים</h3>
                    </div>
                    <div class="panel-body">
                        <links-list></links-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>