<div class="container content">
    <div class="page-header">
        <h1>
            <span ng-show="add.ob.id">עריכת</span>
            <span ng-show="!add.ob.id">הוספת</span>
            <span>תצפית</span>
        </h1>
    </div>

    <div class="add-ob row">

        <form name="addOb" novalidate>

            <!--Main-->
            <div class="col-md-6">
                <div class="panel main" ng-class="add.activePanel === 1 ? 'panel-primary' : 'panel-default'">
                    <div class="panel-heading">
                        <span class="badge pointer" ng-click="add.setFocus(1)">1</span>
                        <span>מה ראית?</span>
                        <span class="fa fa-arrow-left pull-left pointer" ng-click="add.setFocus(99)" ng-show="add.activePanel === 1"></span>
                    </div>
                    <div class="panel-body">

                        <div class="form-group relative species">
                            <label>שם הזן</label>
                            <species-compleate
                                placeholder="הקלד שם זן"
                                model="add.ob.taxon_id"
                                text="add.ob.species_guess"
                                onfocus="add.setFocus(1)"
                                taxa="">
                            </species-compleate>
                        </div>

                        <div class="form-group">
                            <label>תיאור</label>
                            <textarea class="form-control" ng-model="add.ob.description" placeholder="תיאור קצר על התצפית" ng-focus="add.setFocus(1)"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / Main-->

            <!--Dates-->
            <div class="col-md-6">
                <div class="panel dates" ng-class="add.activePanel === 2 ? 'panel-primary' : 'panel-default'">
                    <div class="panel-heading">
                        <span class="badge pointer" ng-click="add.setFocus(2)">2</span>
                        <span>מתי?</span>
                        <span class="fa fa-arrow-down pull-left pointer" ng-click="add.setFocus(99)" ng-show="add.activePanel === 2"></span>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <div class="form-group date">
                                <label>תאריך</label>
                                <p class="input-group">
                                    <input type="text" class="form-control"
                                       ng-focus="add.setFocus(2)"
                                       uib-datepicker-popup="dd-MM-yyyy"
                                       ng-model="add.ob.date"
                                       is-open="add.datePicker.isOpen"
                                       max-date="add.datePicker.maxDate"
                                       datepicker-options="add.datePicker.options"
                                       ng-required="true"
                                       show-weeks="false"
                                       current-text="היום"
                                       close-text="סגור"
                                       clear-text="נקה"
                                    />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="add.datePicker.isOpen = !add.datePicker.isOpen; add.setFocus(2);"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6 time">
                            <uib-timepicker ng-model="add.ob.date" hour-step="1" minute-step="15" ng-change="add.setFocus(2)"></uib-timepicker>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / Dates-->

            <!--Location-->
            <div class="col-md-12">
                <div class="panel location" ng-class="add.activePanel === 3 ? 'panel-primary' : 'panel-default'">
                    <div class="panel-heading">
                        <span class="badge pointer" ng-click="add.setFocus(3)">3</span>
                        <span>איפה?</span>
                        <span class="fa fa-arrow-down pull-left pointer" ng-click="add.setFocus(99)" ng-show="add.activePanel === 3"></span>
                    </div>
                    <div class="panel-body" ng-click="add.setFocus(3)">
                        <cc-map options="add.mapOptions" items="{latitude: add.ob.latitude, longitude : add.ob.longitude, dragable: true}"></cc-map>
                    </div>
                    <div class="panel-footer">

                        <div class="pull-left">
                            <label>מיקום:</label>
                            <div class="btn-group btn-group-sm">
                                <label class="btn btn-default" ng-model="add.ob.geoprivacy" uib-btn-radio="'open'">גלוי</label>
                                <label class="btn btn-default" ng-model="add.ob.geoprivacy" uib-btn-radio="'obscured'">מוסתר</label>
                                <!--<label class="btn btn-default" ng-model="add.ob.geoprivacy" uib-btn-radio="'private'">פרטי</label>-->
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-group">
                                <label>רוחב:</label>
                                <input type="number" class="form-control input-sm" ng-model="add.ob.latitude"  readonly>
                            </div>
                            <div class="form-group">
                                <label>אורך:</label>
                                <input type="number" class="form-control input-sm" ng-model="add.ob.longitude" readonly>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- / Location-->

            <!--Images-->
            <div class="col-md-6">

                <div class="panel images" flow-init flow-name="add.uploader.flow" ng-class="add.activePanel === 4 ? 'panel-primary' : 'panel-default'" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
                    <div class="panel-heading">
                        <span class="badge pointer" ng-click="add.setFocus(4)">4</span>
                        <span>תמונות</span>
                        <span class="fa fa-arrow-left pull-left pointer" ng-click="add.setFocus(99)" ng-show="add.activePanel === 4"></span>

                    </div>
                    <div class="panel-body">
                        <div class="drop" flow-drop flow-drag-enter="style={border:'4px dashed green'}" flow-drag-leave="style={}" ng-style="style">
                            <p>גרור תמונות תצפית לכאן.</p>
                            <div class="row loaded-images">
                                <div class="col-sm-6 col-md-4 image" ng-repeat="image in add.loadedImages">
                                    <div class="thumbnail">
                                        <img ng-src="{{image.photo.small_url}}" />
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 image" ng-repeat="file in $flow.files">
                                    <div class="thumbnail">
                                        <img flow-img="$flow.files[$index]" />
                                        <div class="caption">
                                            {{file.name}}
                                            <div class="actions">
                                                <span class="fa fa-times remove" ng-click="file.cancel()"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer tal">
                        <button type="button" flow-btn class="btn btn-primary">הוספת תמונות</button>
                    </div>

                </div>
            </div>
            <!-- / Images-->

            <!--Projects-->
            <div class="col-md-6">
                <div class="panel projects" ng-class="add.activePanel === 5 ? 'panel-primary' : 'panel-default'">
                    <div class="panel-heading">
                        <span class="badge pointer" ng-click="add.setFocus(5)">5</span>
                        <span>פרויקטים</span>
                        <span class="fa fa-arrow-down pull-left pointer" ng-click="add.setFocus(99)" ng-show="add.activePanel === 5"></span>
                    </div>
                    <div class="panel-body">
                        <div class="list-group mb0">
                            <button type="button" class="list-group-item" ng-repeat="project in add.userProjects | orderBy:add.projOrder"  ng-click="add.toggleProject(project)">
                                {{project.project.title}}
                                <span class="fa fa-check pull-left checked" ng-show="add.ob.projects.indexOf(project.project.id) !== -1"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / Projects-->

            <!--Submit-->
            <div class="col-md-12">

                <div class="panel submit " ng-class="add.activePanel === 6 ? 'panel-primary' : 'panel-default'">
                    <div class="panel-heading">
                        <span class="badge pointer" ng-click="add.setFocus(6)">6</span>
                        <button class="btn btn-success pull-left btn-lg" ng-click="add.send()">שלח</button>
                    </div>
                </div>
            </div>
            <!--Submit-->
            
            <!--<pre dir="ltr">{{add.ob | json}}</pre>-->
        </form>

    </div>
</div>



<script type="text/ng-template" id="customTaxaTemplate.html">
    <div class="media pointer">
        <div class="media-left">
            <img class="media-object" ng-src="{{match.model.default_photo['square_url']}}">
        </div>
        <div class="media-body">
            <h5 class="media-heading" ng-bind-html="match.model.matched_term | uibTypeaheadHighlight:query"></h5>
            <div class="latin">
                <small>{{match.model.name}}</small>
            </div>

        </div>
    </div>
    <!--<pre style="direction: ltr; text-align: left;">{{match | json}}</pre>-->
</script>