<div class="user-profile container content">

    <div class="alert alert-success" role="alert" ng-show="!scopeLoading">
        <span class="fa fa-spin fa-spinner"></span>
        <span>טוען פרטי משתמש</span>
    </div>

    <div class="row" ng-show="scopeLoading">
        <div class="col-md-10 col-md-push-1 main-info">
            <form class="form-horizontal" name="profileEdit" novalidate>
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label class="col-sm-3 control-label">שם משתמש</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" disabled ng-model="formFields.login">
                                <p class="help-block">לא ניתן לשנות שם משתמש.</p>
                            </div>
                        </div>


                        <div class="form-group" ng-class="{'has-error' : profileEdit.name.$invalid && profileEdit.name.$dirty}">
                            <label class="col-sm-3 control-label">שם מלא</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="name" ng-model="formFields.name" placeholder="שם מלא" required ng-readonly="success">
                                <div class="help-block" ng-show="profileEdit.name.$invalid && profileEdit.name.$dirty">חובה להזין שם</div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error' : profileEdit.email.$invalid && profileEdit.email.$dirty}">
                            <label class="col-sm-3 control-label">דוא"ל</label>
                            <div class="col-sm-9">
                                <input type="email" name="email" class="form-control" ng-model="formFields.email" placeholder="דואל" required ng-readonly="success">
                                <div class="help-block" ng-show="profileEdit.email.$invalid && profileEdit.email.$dirty">כתובת דוא"ל לא תקינה</div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label">תיאור</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" rows="5" name="description" ng-model="formFields.description" ng-readonly="success" placeholder="כמה מילים על עצמך...."></textarea>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="form-group image">
                            <label class="col-sm-3 control-label">תמונה</label>
                            <div class="col-sm-9">
                                <div class="image-holder"  flow-init flow-name="uploader.flow" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
                                    <div class="drop" flow-drop flow-drag-enter="style={border:'4px dashed green'}" flow-drag-leave="style={}" ng-style="style">
                                        <img ng-hide="$flow.files.length" ng-src="{{userInfo.medium_user_icon_url}}" class="img-thumbnail">
                                        <img ng-show="$flow.files.length" flow-img="$flow.files[0]" class="img-thumbnail"/>
                                        <button flow-btn class="btn btn-default btn-sm">החלפת תמונה</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="submit" ng-click="saveProfile()" class="btn btn-primary" ng-disabled="loading || success">
                                <span>שמירה</span>
                                <span ng-show="loading">
                                    <span class="fa fa-spin fa-spinner"></span>
                                </span>
                            </button>
                        </div>

                        <div class="alert alert-success" role="alert" ng-show="success">
                            <span>פרטים נשמרו בהצלחה.</span>
                            <a ng-click="success = false">ערוך שוב</a>
                        </div>
                    </div>


                </div>
            </form>
        </div>
    </div>

</div>