<div class="user-password">
    <div class="row">
        <div class="col-md-12">
            <p>
                <span>אם ברצונך לשנות את הסיסמא שלך, יש להזין חדשה.</span>
            </p>
        </div>
        <div class="col-md-6 col-lg-3 main-info">

            <form class="form-horizontal mt20" name="profileEdit" novalidate>

                <div class="form-group" ng-class="{'has-error' : profileEdit.password.$invalid && profileEdit.password.$dirty}">
                    <label class="col-sm-5 control-label">סיסמא חדשה</label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" name="password" ng-model="formFields.password" required ng-readonly="success">
                        <div class="help-block" ng-show="profileEdit.password.$invalid && profileEdit.password.$dirty">חובה להזין ססמה</div>
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-error' : profileEdit.confirm.$invalid && profileEdit.confirm.$dirty}">
                    <label class="col-sm-5 control-label">אימות ססמה</label>
                    <div class="col-sm-7">
                        <input type="password" name="confirm" class="form-control" ng-model="formFields['password_confirmation']" required ng-readonly="success" compare-to="formFields.password">
                        <div class="help-block" ng-show="profileEdit.confirm.$invalid && profileEdit.confirm.$dirty">
                            <div>ססמאות לא תואמות</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12 tal">
                        <button type="submit" ng-click="saveProfile()" class="btn btn-primary btn-sm" ng-disabled="loading || success">
                            <span>איפוס</span>
                            <span ng-show="loading">
                                <span class="fa fa-spin fa-spinner"></span>
                            </span>
                        </button>
                    </div>
                </div>

                <div class="alert alert-success" role="alert" ng-show="success">
                    <span>סיסמה שונתה בהצלחה</span>
                    <a ng-click="success = false">ערוך שוב</a>
                </div>

            </form>
        </div>
    </div>
</div>