.user-profile {


  .form-group {
    .control-label {
      text-align: right;
    }
  }

  .image {
    img {
    }

    .control-label {
      text-align: left;
    }

    .btn {
      vertical-align: top;
    }
  }
}