<div class="join-page container content">
    <div class="page-header">
        <h1>הצטרפות
            <button class="btn btn-primary pull-left mt5" ui-sref="register">הרשמה לתצפיטבע</button></h1>
    </div>

    <div ng-bind-html="joinText"></div>

    <div class="row apps">
        <div class="col-md-8 col-md-push-2">
            <div class="col-md-6">
                <a href="https://play.google.com/store/apps/details?id=org.tazpiteva.android" target="_blank">
                    <img ng-src="assets/images/google-play.png">
                </a>            
            </div>
            <div class="col-md-6">
                <a href="https://itunes.apple.com/il/app/tzpytb/id1059517651?mt=8" target="_blank">
                    <img ng-src="assets/images/app-store.png">
                </a>            
            </div>
        </div>
    </div>

</div>