<div ng-if="addComment.show">
    <div class="panel panel-primary mt30">
        <div class="panel-heading">
            <h3 class="panel-title" ng-click="addComment.cece()">
                <span>הוספת</span>
                <span ng-show="addComment.comment.type === 'comment'">תגובה</span>
                <span ng-show="addComment.comment.type === 'identification'">זיהוי</span>
            </h3>
        </div>
        <div class="panel-body">

            <form class="form-horizontal" name="addComment.commentForm" novalidate>

                <div class="form-group" ng-class="{ 'has-error': addComment.commentForm.body.$invalid && addComment.commentForm.body.$dirty }">
                    <label for="comment-body" class="col-sm-2 control-label">תוכן</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="body" id="comment-body" ng-model="addComment.comment.body" rows="5" ng-required="addComment.comment.type === 'comment' || addComment.comment.specie === null"></textarea>
                        <label class="help-block" ng-show="addComment.commentForm.body.$invalid && addComment.commentForm.body.$dirty">חובה להזין תוכן</label>
                    </div>
                </div>


                <div class="form-group">

                    <label for="comment-body" class="col-sm-2 control-label">
                        <span ng-show="addComment.comment.type === 'identification'">שם הזן</span>
                    </label>

                    <div class="col-sm-6">
                        <button type="button" ng-show="addComment.comment.type === 'comment'" class="btn btn-primary btn-xs" ng-model="addComment.comment.type" uib-btn-checkbox btn-checkbox-true="'identification'" btn-checkbox-false="'comment'">
                            <span>הוספת זיהוי</span>
                        </button>
                        <species-compleate ng-show="addComment.comment.type === 'identification'" model="addComment.comment.specie" taxa="addComment.activeTaxa"></species-compleate>
                    </div>

                </div>


                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10 tal">
                        <button type="submit" ng-click="addComment.send(addComment.commentForm)" class="btn btn-success">שליחה
                            <span ng-show="addComment.loading">
                                <i class="fa fa-spinner fa-spin"></i>
                            </span>
                        </button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>