comments {
  .discussion, .identification {

    .media-list {
      .media {
        .media-left {
          .media-object {
            width: 60px;
          }
        }
      }
    }

    &.identification {
      .media-body {
        .media-heading {
          margin-bottom: 10px;
        }
        p {
          img {
            width: 30px;
          }
        }

        remove-identification, comment-agree {
          margin-right: 10px;
        }
      }
    }
  }
}