<ul class="media-list">
    <li ng-repeat="animal in items track by $index" class="media pointer {{animal.ccData.color}}"  ng-class="{active : activeItem === $index}" ng-click="clickLocation(animal, $index, activeItem === $index)">
        <div class="media-left">
            <a ui-sref="obs.single({id: animal.id})">
                <div class="item-media media-object" item="animal" size="square"></div>
            </a>
        </div>
        <div class="media-body">

            <h4 class="media-heading">
                <a ui-sref="obs.single({id: animal.id})">{{ animal.ccInfo.name}}</a>
            </h4>
            <div class="info">
                <div class="latin" ng-show="animal.taxon.name">
                    <small><i class="fa fa-tag"></i> {{animal.taxon.name}}</small>
                </div>
                <a ui-sref="user.obs({slug: animal.user.login})"><i class="fa fa-user"></i> {{animal.ccInfo.user.name}}</a>
                <div>
                    <small ng-if="animal.observed_on">
                        <i class="fa fa-calendar"></i> {{animal.observed_on | date : 'd/MM/yyyy' }}

                    </small>
                </div>
            </div>
            <div class="actions">
                <i ng-if="animal.coordinates_obscured" class="fa fa-circle text-brand-danger obscured" title="מיקום מוסתר"></i>
                <item-grade data="animal"></item-grade>
            </div>
        </div>
    </li>

</ul>