<div class="ui-notification" ng-class="class">
    <h3>
        <span>מעלה תמונות</span>
        <span class="badge">{{current}} / {{total}}</span>
    </h3>
    <div class="message">
        <uib-progressbar class="progress-striped active" value="current" max="total" type="error ? 'danger' : 'info'"></uib-progressbar>

        <div ng-if="error">שגיאה בהעלאת אחת התמונות</div>
    </div>
</div>