<div class="about">

    <!--GALLERY-->
    <div class="gallery container-fluid">
        <div class="holder row relative">
            <div class="cc-slick"  ng-class="{ready : slideReady}">
                <div class="slide" ng-repeat="item in items">
                    <div class="inner relative">
                        <img ng-src="{{item.url}}" imageonload="imgLoad()">
                        <div class="info pointer" ui-sref="obs.single({id: item.id})">
                            {{item.name}}
                        </div>
                    </div>
                </div>

            </div>

            <div class="slider-loader" ng-show="!slideReady">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
    <!--GALLERY-->


    <!--UPDATES-->
    <div class="updates container">
        <div class="page-header">
            <h1>הודעות ועדכונים</h1>
        </div>
        <div class="row">

            <div class="col-md-4" ng-repeat="col in newsCols track by $index">
                <div class="panel panel-primary" ng-repeat="item in col track by $index" ng-class="[item.class]">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{item.headline}}</h3>
                    </div>
                    <div class="panel-body">
                        <div ng-bind-html="item.short"></div>
                    </div>
                    <div class="panel-footer" ng-if="item.updated_at">
                        <small>פורסם בתאריך:                     <span>{{item.updated_at | badDateToISO | date : 'd/MM/yyyy'}}</span></small>
                        <a ui-sref="news.single({id: item.id})" class="pull-left">קרא עוד...</a>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <hr>
                <a ui-sref="news.list" class="pull-left">לכל ההודעות באתר</a>
            </div>
        </div>
    </div>
    <!--/UPDATES-->


    <!--JOIN-->
    <div class="join-now container-fluid">
        <div class="container">
            <h1>תצפיטבע זקוק לעזרתכם</h1>
            <div class="mt20 mb20" ng-bind-html="joinText"></div>
            <p><a class="btn btn-primary btn-lg" ui-sref="join" role="button">הצטרפות</a></p>
        </div>
    </div>
    <!--/JOIN-->

</div>