.about {

  .main {
    text-align: center;
    margin-top: 100px;
    max-width:  800px;
    margin: 70px auto;

    p {
      margin-top: 20px;
      font-size: 20px;
    }
  }

  .gallery {
    direction: ltr;

    .holder {
      //margin: 30px;

      slick, .cc-slick {
        opacity: 0;
        box-shadow: 0px 2px 10px black;

        height: 300px;


        .slide {

          outline: none !important;
          text-align: center;
          border: 1px solid #444;

          img {
            width: auto;
            height: 300px;
          }

          .inner {
            overflow: hidden;
            &:hover {
                .info {
                    background-color: rgba( $brand-primary, 0.8 );
                }
            }
          }

          .info {
            position: absolute;
            bottom: 0;
            left: 0;
            
            width: 100%;
            background-color: rgba( $brand-secondary, 0.8 );
            color: #fff;
            padding: 5px;
            
            transition: background-color 0.5s ease;
            a {
              color: #ffffff;
              
            }
          } 
        }


        &.ready {
          opacity: 1;
          transition: opacity 0.8s ease;
        }

        .slick-prev, .slick-next {

          z-index: 9;
          right: 0;
          background: rgba(73, 87, 99, 0.8);
          height: calc(100% - 28px);
          top: 0;
          width: 70px;
          margin: 0;

          &:before {
            color: #ffffff;
            font-size:40px;
          }
        }
        .slick-prev {
          left: 0px;
        }
      }


      .slider-loader {
        text-align: center;
        font-size: 120px;
        position: absolute;
        top: 100px;
        width: 100%;
      }
    }
  }

  .updates {
    .page-header {
      a {
        font-size:15px;
        line-height: 60px;
      }
    }
    .panel {
      .panel-footer {
        padding: 5px 15px;
        border-top: none;
      }

      &.about {
        .panel-heading {
          background: $brand-success;
          border-color: $brand-success;
        }
      }
    }
  }

  .join-now {
    background-color: $brand-secondary;
    color: #ffffff;
    margin-top: 40px;
    h1 {
      text-decoration: underline;
    }
    p {
      font-size: 20px;
    }
  }
}