<div class="login-page container content">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-push-4">

            <div class="thumbnail mt40">

                <div class="alert alert-danger" role="alert" ng-show="params.notify">{{params.notify}}</div>

                <div class="caption">
                    <h3 class="tac">כניסה למערכת</h3>

                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">שם משתמש</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputEmail3" ng-model="userInfo.user">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">סיסמה</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="inputPassword3" ng-model="userInfo.password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary pull-left" ng-click="login()">כניסה</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>