/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */

$brand-primary:         #0093DB;
$brand-secondary:       #495763;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$main-bg :              #E6EBEE;

$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower


.hide-on-beta {
  display: none;
}

.btn-primary {
  background-color: $brand-primary;
  border-color: $brand-primary;
  &:hover {
    background-color: $brand-primary;
  }
}

.btn-secondary, .btn-secondary.list-group-item {
  background-color: $brand-secondary;
  border-color: $brand-secondary;
  color: #ffffff;
  &:hover {
    background-color: $brand-secondary;
    color: #ffffff;
  }
}
.btn.btn-transparent {
  background-color: transparent;
  border: none;
  box-shadow: none;

  &:active, &:focus, &:hover, .active {
    outline: none;
  }

}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html,body {
  background: #E6EBEE;
  font-family: 'Open Sans Hebrew', sans-serif;

  &.IE {
    &.IE-11 {
      font-family: Arial, sans-serif;
    }
  }
}

.no-scroll {
  height: 100%;
  overflow: hidden;
}

.slick-prev:before, .slick-next:before {
  color: $brand-primary;
}

.nav-tabs > li {

  &> a {
    border-radius: 0px;
  }

  &.active > a, &.active > a:hover, &.active > a:focus {
    color: #ffffff;
    background-color: $brand-primary;
  }
}

.tab-content > .tab-pane {
  padding-top: 30px;
}

.panel {

  border: none;

  &.panel-primary > .panel-heading {
    color: #fff;
    background-color: $brand-primary;
    border-color: $brand-primary;
  }
  &.panel-secondary > .panel-heading {
    color: #fff;
    background-color: $brand-secondary;
    border-color: $brand-secondary;
  }

}

.container.content {
  margin-bottom: 100px;
}


.page-header {
  border-bottom: 2px solid $brand-secondary;
}

/*  Some Globals */
.tac {text-align: center;}
.tal {text-align: left;}
.tar {text-align: right;}

.mt5 {margin-top: 5px;}
.mt10 {margin-top: 10px;}
.mt15 {margin-top: 15px;}
.mt20 {margin-top: 20px;}
.mt30 {margin-top: 30px;}
.mt40 {margin-top: 40px;}

.mb0   {margin-bottom: 0;}
.mb5   {margin-bottom: 5px;}
.mb10  {margin-bottom: 10px;}
.mb15  {margin-bottom: 15px;}
.mb20  {margin-bottom: 20px;}
.mb30  {margin-bottom: 30px;}
.mb40  {margin-bottom: 40px;}

.margin-right { margin-right:0;}
.margin-right-5 { margin-right:5px;}
.margin-right-10 { margin-right:10px;}
.margin-right-15 { margin-right:15px;}
.margin-right-20 { margin-right:20px;}

.margin-left { margin-left:0;}
.margin-left-5 { margin-left:5px;}
.margin-left-10 { margin-left:10px;}
.margin-left-15 { margin-left:15px;}
.margin-left-20 { margin-left:20px;}

.padding-right-0 { padding-right: 0; }
.padding-right-5 { padding-right: 5px; }
.padding-right-10 { padding-right: 10px; }
.padding-right-15 { padding-right: 15px; }
.padding-right-20 { padding-right: 20px; }


.padding-left-0 { padding-left: 0; }
.padding-left-5 { padding-left: 5px; }
.padding-left-10 { padding-left: 10px; }
.padding-left-15 { padding-left: 15px; }
.padding-left-20 { padding-left: 20px; }

.relative { position: relative;}
.absolute { position: absolute;}
.inline {
  display: inline-block;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.text-brand-primary   {color: $brand-primary;}
.text-brand-secondary {color: $brand-secondary;}
.text-brand-success   {color: $brand-success;}
.text-brand-info      {color: $brand-info;}
.text-brand-warning   {color: $brand-warning;}
.text-brand-danger    {color: $brand-danger;}
.text-white           {color: #ffffff;}
.pointer {
  cursor: pointer;
}

.clear {
  clear: both;
}

.panel {
  border-radius: 6px;

  .panel-heading {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }
}

.btn-default.active{
  &, &:hover, &:active, &:focus {
    color: #ffffff;
    background-color: $brand-primary;
    border-color: $brand-primary;
  }
}

.nowrap {
  white-space: nowrap;
}
.latin {
  font-style: italic;
  white-space: nowrap;
}

.hide {
  display: none;
}

.pre-wrap{
  white-space: pre-wrap;
}

.no-image {
  background: rgb(142, 147, 152);
  height: 100%;
  padding: 5px;
  font-size: 14px;
  color: #fff;
  border: 1px solid;
  text-align: center;
  line-height: 19px;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.op-image {
  opacity:0;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
