<div class="col-md-8 col-md-push-2">

    <div class="page-header">
        <h1>יצירת חשבון משתמש</h1>
    </div>

    <div class="col-md-10 col-lg-8">
        <register-form></register-form>
    </div>
</div>