#home-map {

  .map, .items {
    padding: 0;
  }

  #map {
    height:100%;
    //width:100%;
    //position:absolute;
  }

  cc-map-small{
    position: absolute;
    bottom: 2px;
    left: 0px;
    border: solid $brand-secondary;
    border-width: 2px 2px 0 0;

    #small-map {
      width: 200px;
      height: 120px;
    }
  }

  .items {
    //background: #ffffff;
    background-color: $brand-secondary;

    .no-results {
      color: #ffffff;
      text-align: center;
      h3 {
        margin: 0;
        //line-height: 1px;
      }
    }

    header {
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center;
      padding: 10px;
    }

    .scroller {

      white-space: pre-line;
      height: calc(100% - 60px);
      overflow-y: hidden;
      position: relative;
      //margin-top: 50px;

      &.ps-container {
        & > .ps-scrollbar-y-rail > .ps-scrollbar-y{
          background: $brand-primary;
        }

        &:hover {
          &>.ps-scrollbar-x-rail, &>.ps-scrollbar-y-rail{
            opacity: 0.8;
          }
        }
      }



      li.media {
        //background: red;

        transition: .3s ease all;

        &.ng-enter-stagger {
          transition-delay: 0.1s;
          transition-duration: 0s;
        };
        &.ng-leave.ng-leave-active {
          opacity: 0;
        }
        //&.ng-move,
        &.ng-enter {
          opacity:0;
          transform: translate(90%,0);
        }

        &.ng-leave,
        &.ng-move.ng-move-active,
        &.ng-enter.ng-enter-active {
          opacity:1;
          transform: translate(0,0);
        }
      }

    }

    footer {
      text-align: center;
      nav {
        .pagination {
          margin: 13px 0;
        }
      }
    }
  }
}