<div class="container content index-project">

    <div class="page-header" ng-show="showTitle">
        <h1>פרויקטים</h1>
    </div>

    <div class="content">

        <div ng-if="userProjects">
            <h3>הפרוייקטים שלי</h3>
            <project-list projects="userProjects" update="update()"></project-list>
            <hr>
        </div>

        <div>
            <h3>פרויקטים זמינים</h3>
            <project-list projects="projects" error-notice="אתה רשום לכל הפרויקטים הזמינים!"></project-list>
        </div>
    </div>

</div>