.single-project {

  #map {
    height:400px;
    width: 100%;
    border-bottom: 3px solid $brand-secondary;
  }

  .content {
    .main {
      .page-header {
        border-bottom: 2px solid $brand-secondary;
      }

      .navbar{

        .nav-tabs {
          border-bottom:none;

          a {
            padding: 15px 20px;
            border-radius: 0;
          }
        }

        .search-form {

          position: relative;
          .remove-search {
            position: absolute;
            top: 11px;
            z-index: 2;
            left: 80px;
            color: $brand-secondary;
            cursor: pointer;
          }
        }
      }


    }


    .list {
      .media-list .media .media-left img {
        width: 80px;
      }
    }


  }

  .sidebar {
    .users {
      .panel-body {
        padding-top: 0;
      }
      a{

        padding-left: 5%;
        &:last-child {
          padding-left: 0;
        }
        img {
          width: 20%;
          margin-top: 15px;
        }
      }
    }
  }

}

.index-project {

  .content {
    hr {
      border-top-color: #CFD2D4;
    }
  }

  .project {
    .panel {
      .panel-body {
        height: 208px;
        overflow: hidden;
        .media {
          margin-bottom: 10px;

          .media-left {
            img {
              width: 85px;
              height:85px;
            }
          }

          .media-body {
            vertical-align: middle;
          }
        }
      }
    }
  }

  .alert {
    background: #ffffff;
    display: inline-block;
    .fa {
      color: $brand-success;
    }
  }
}
