.pics {
  ul[dnd-list] {
    margin-top:22px;
    position: relative;
    min-height: 42px;
    padding-right: 0px;

    .dndDraggingSource {
      display: none;
    }

    .dndPlaceholder {
      display: block;
      background-color: #ddd;
      min-height: 42px;
    }

    li {
      display: block;
      position: relative;
      padding: 5px;
      border: 1px solid #CCCCCC;
      margin: 10px;
      border-radius: 10px;
      transition: all 0.7s ease;

      .media-left {
        padding-right: 0;

        img {
          width: 70px;
          height: 70px;
          margin:-5px;
        }
      }

      .media-body {
        padding-left: 40px;
        .actions {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          transition: all 0.7s ease;
          .btn {
            border: none;
            background: transparent;
            span {
              color: #337ab7;

            }

            &:focus, &:active {
              outline: none;
              box-shadow: none;
            }
          }
        }
      }

      &:hover {
        background: rgba(0, 147, 219, 0.16);
        .actions {
          opacity: 1;
        }
      }
    }
  }
}

.pic-edit {

  .images {
   .active {
     .thumbnail {
       border-color: blue;
     }
   }
  }
}

.add-pic {
  .media {
    .media-left {
      img {
        width:100px;
        height: 100px;
      }
    }
  }
}