.cc-list {
  .panel-heading {
    .add {
      float: left;
      color: #ffffff;
      font-size: 20px;
      line-height: 1;
    }
  }

  .list {
    tr {

      th {
        text-align: right;
      }

      .actions a {
        opacity: 0;
        transition: opacity .5s ease;
      }

      &:hover .actions a {
        opacity:1;
      }
    }
  }
}